body{
  background-color: silver;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

table{
  width: 900px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 5px;
}

header{
  height: 50px;
  margin: -10px -7px 0px -7px;
  background-color: white;
  text-align: center;
  padding-top: 15px;
}

label{
  font-size: 30;
  font-family: arial;
  font-weight: bold;
}

.titletext{
  font-size: 30;
  font-family: arial;
  font-weight: bold;
  padding-bottom: 20px;
}

.headingtext{
  font-size: 18;
  font-family: arial;
  text-align: left;
}

.testbox{
  height: 40px;
  width: 300px;
  padding: 20px;
  font-size: 20;
  font-family: arial;
}

.button{
  width: 130px;
  height: 40px;
  margin-left: 350px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 18px;
  background-color: silver;
}

.button:active{
  background-color: gray;
}

.errortext{
  text-align: center;
  color: red;
  padding-top: 20px;
  font-size: 18;
}
