.block{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /* padding: 10px;
    padding-right: 10px; */

    /* margin: 10px 20px 30px 40px; */

    /* border-width: 10px;
    border-color: blue;
    border-style: dotted; */

    border: 2px solid red;
    display: inline-block;

}

.block-2{
    height: 100px;
    width: 100px;
    background-color: red;
}

/* body{

    background-color: aqua;
    background-image: url(../00.Data/Images/default-user-image.png);
    background-size: cover;
    background-repeat: repeat-y;
} */



#list-items,td{
    border: 3px solid black;
    border-collapse: collapse;
}