.block{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px solid red;
}
.block-2{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}


.justify-baseline{
    justify-content: baseline;
}

.justify-start{
    justify-content: start;
}


.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}